*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

img{
    width: 100%;
    height:auto;
}

/* flexbos simple row layout */
.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* some style so we can see all of our container */
    border: 1px solid purple;
    background-color: rgba(255, 0, 255, 0.4);
    min-height: 400px;
}

.item{
    border: 1px solid cornflowerblue;
    background-color: rgba(0,0,255,0.3);
    width:23%;
    height: 300px;
}

/* atomic CSS design pattern */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-even{
    justify-content: space-evenly;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.align-center{
    align-items: center;
}

.self-start{
    align-self: flex-start;
}

.self-end{
    align-self: flex-end;
}

.self-center{
    align-items: center;
}

.self-stretch{
    align-self:stretch;
    height: auto;
}

@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }

    .self-stretch{
        height:300px;
        width: auto;
    }
}