*{
    margin: 0;
    padding: 0;
    border-radius: 20px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    color: lightpink;
}

h1{
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-family: fantasy;
    font-size: xx-large;
    position: fixed;
    left: 10px;
    top: 10px;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);}

#nav ul{
    display: inline;
    text-align: center;
    position: fixed;
    right: 10px;
    top: 20px;
}

ul{
     display: inline;
    margin: 0;
    padding: 15px 4px;
    list-style-type: none;
    box-shadow: 0,0,5px rgba(0,0,0,0.15);
}
    
ul li{
    display: inline-block;
    padding: 15px 20px;
    /* background-color: #fff; */
    cursor: pointer;
    transition: all 0.9s;
}
    
ul li:hover{
    background-color: #555;
    color: #fff;
}
    
ul li ul{
    padding: 0;
    /* position: relative;
    top: 48px;
    right:100px; */
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.9s;
}
    
ul li ul li{
    background: #555;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}
    
ul li ul li:hover{
    background: #666;
}
    
ul li:hover ul{
    display: block;
    opacity: 1;
    visibility: visible;
}

#apple{
    background-color: rgba(252, 1, 1, 0.647);
}