@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    color: hotpink;
}

html {
  background: url('../img/rarhome.png') no-repeat center center fixed;
  background-size: cover;  
}xs
body {
  font-family: 'Kaushan Script', cursive;
}

header {
  /* padding: 0 10%;
  overflow-y: hidden;
  position: fixed; */
  top: 0;
  left: 0;
  margin-bottom: 10px;
  z-index: 10;
  /* background-color: grey; */
  display: block;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body header  .logo{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}



ul{
    display: inline;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    position: fixed;
    right: 5px;
    top: 10px;
    background-color: rgba(245, 245, 220, 0.843);
}
    
ul li{
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.9s;
}
    
ul li:hover{
    background-color: #ffe66a;
    color: hotpink;
    font-weight: bold;

}
    
ul li ul{
    padding: 5px;
    position: absolute;
    top: 57px;
    right:100px;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.9s;
}
    
ul li ul li{
    background: #ffe66ad5;
    display: block;
    color: hotpink;
    font-weight: bold;
}
    
ul li ul li:hover{
    background: lightskyblue;
    font-weight: bold;
}
    
ul li:hover ul{
    display: block;
    opacity: 1;
    visibility: visible;
}
.unorder{
    position: absolute;
    top: 57px;
    right: 0px;

}
#apple:hover{
    background-color: rgba(252, 101, 1, 0.658);
}
#fluttershy:hover{
    background-color: rgba(255, 182, 193, 0.897);
}
#pinky:hover{
    background-color: rgba(244, 40, 142, 0.851);
}
#rarity:hover{
    background-color: rgba(238, 130, 238, 0.947);
}
#sparkle:hover{
    background-color: rgba(49, 2, 85, 0.813);
}


@media screen and (max-width: 768px) {

    header{
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        text-align: center;
        padding: 0;
    }
    
    ul{
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 1000;
    }
}